
.label {
  margin-bottom: 12px;
  font-weight: bold;
}

.label label {
  font-size: 16px;
}

.input-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.success {
  margin-bottom: 16px;
  color: #0bc70b;
  font-size: 14px;
}

.input-field {
  margin-bottom: 16px;
}

.input-field input {
  margin-left: 4px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

hr {
  opacity: 0.3;
}

.helping-text {
  font-size: 13px;
  color: #666;
}