.App {
  padding: 24px;
  width: 800px;
  margin: 24px auto;
  border: 1px solid #eee;
  border-radius: 4px;
}

.label {
  margin-bottom: 8px;
}

.label label {
  font-size: 16px;
}

.input-list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}